body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
}
.description {
  flex: 1 1 100%;
}
.card-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;
  z-index: 20;
  padding: 0.5rem;
  background: #e8eaf6;
  border-radius: 1rem;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}
.price {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
}
.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  background: #fff;
  width: 50rem;
  max-width: 90%;
  animation: showCard 0.2s ease-in-out;
}

@media (min-width: 767px) {
  .basket-list {
    animation: showCardFullScreen 0.2s ease-in-out;
  }
}
.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
}
.basket-delete {
  cursor: pointer;
}
.button-order {
  display: inline-block;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

@keyframes showCard {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@keyframes showCardFullScreen {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

#toast-container {
  top: 2rem;
  left: unset;
  bottom: unset;
  right: 6rem;
  animation: fadeToast 0.2s ease-in-out;
}

@keyframes fadeToast {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(2rem);
  }
}
